img{

    width: 200px;
    height: 200px;
    background: transparent;
    margin-left: 43%;
    margin-top: 30px;
}

.buttons{

    margin-left: 47%;
    margin-top: 30px;
}

button{

    width: 50px;
    height: 20px;
}